<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-md-8 mx-auto">
      <div class="row justify-content-start mb-3">
        <small class="mr-5">*為必填項目</small>
        <h4>請修改你的支出</h4>
      </div>

      <form action="/records/{{record.id}}/edit?_method=PUT" method="POST">
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text bg-light" id="">
                名稱*
              </span>
            </div>
            <input type="text" class="form-control" id="name" name="name" value="{{record.name}}">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text bg-light" id="">
                日期*
              </span>
            </div>
            <input type="date" class="form-control" id="name_en" placeholder="Enter Date" name="name_en"
              value="{{record.date}}">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text bg-light" id="">
                類別*
              </span>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>選取...</option>
              <option value="1">家居物業</option>
              <option value="2">交通出行</option>
              <option value="3">休閒娛樂</option>
              <option value="4">餐飲食品</option>
              <option value="5">其他</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text bg-light" id="">
                金額*
              </span>
            </div>
            <input type="text" class="form-control" id="photo-link" name="image" value="{{record.price}}">
          </div>
        </div>

        <button type="submit" class="btn btn-info float-left mt-2">修改</button>
      </form>

      <form action="/records/{{record.id}}/delete" method="POST">
        <button type="submit" class="btn btn-danger float-right mt-2">刪除</button>
      </form>

    </div>
  </div>
</div>